{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой Учёт Финансов - Ввод расходов</title>
    <link rel="stylesheet" href="{% static 'styles7.css' %}">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="title-box">МойУчётФинансов</div>
            <button class="empty-box" onclick="alert('Кнопка нажата!')"></button>
        </header>
        <form method="POST" action="{% url 'enter_expenses' %}">
            {% csrf_token %}
            <div class="form-group">
                <label>Введите тип кошелька</label>
                <input type="text" name="wallet_type" class="input-field" required>
            </div>
            <div class="form-group">
                <label>Введите категорию расходов</label>
                <input type="text" name="category" class="input-field" required>
            </div>

            <div class="form-group">
                <label>Введите &nbsp;&nbsp;ваши расходы</label>
                <input type="number" step="0.01" name="amount" class="input-field" required>
            </div>
            <div class="buttons-container">
                <button type="reset" class="btn btn-cancel">Отмена</button>
                <button type="submit" class="btn btn-save">Сохранить</button>
                <a href="{% url 'section_finances' %}" class="btn btn-finance" style="text-decoration: none;">Финансы</a>
            </div>
        </form>

    </div>
</body>
</html>