{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>МойУчётФинансов</title>
    <link rel="stylesheet" href="{% static 'styles3.css' %}">
</head>
<body>
    <div class="page-wrapper">
        <header class="header-container">
            <div class="header-main">
                МойУчётФинансов
            </div>
            <div class="header-square"></div>
        </header>
        <main class="content">
            <a href="{% url 'section_finances' %}" class="button-block" style="text-decoration: none; color: inherit; display: block;">
                Финансы
            </a>
            <div class="button-block">
                Справка
            </div>
        </main>
    </div>
</body>
</html>