{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>МойУчётФинансов - Цели</title>
    <link rel="stylesheet" href="{% static 'styles6.css' %}">
</head>
<body>
    <div class="container">
        <div class="header-section">
            <div class="title-box">
                МойУчётФинансов
            </div>
            <div class="square-box"></div>
        </div>
        <div class="grid-section">
            <div class="grid-column">
                <div class="column-header">Название цели</div>
            </div>
            <div class="grid-column">
                <div class="column-header">Описание цели</div>
            </div>
            <div class="grid-column">
                <div class="column-header">Сумма</div>
            </div>
        </div>
        <div class="footer-section">
            <a href="{% url 'main' %}" class="main-btn" style="text-decoration: none; color: inherit;">На главную</a>
        </div>
    </div>
</body>
</html>