{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>МойУчётФинансов</title>
    <link rel="stylesheet" href="{% static 'styles5.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">МойУчётФинансов</div>
        <ul class="menu-list">
            <li>Загрузить фото</li>
            <li>Конфиденциальность и безопасность</li>
            <li>Удалить аккаунт</li>
            <li>Изменить данные аккаунта</li>
        </ul>
        <div class="button-wrapper">
            <button class="main-btn">На главную страницу</button>
        </div>
    </div>
</body>
</html>