{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>МойУчётФинансов</title>
    <link rel="stylesheet" href="{% static 'styles4.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">МойУчётФинансов</div>
        <div class="content">
            <div class="left-panel">
                <button onclick="window.location.href='{% url 'enter_expenses' %}'">Ввести расходы</button>
                <button>Ввести доходы</button>
                <button>Отчёт</button>
                  <button>Создать цель</button>
            </div>
            <div class="right-panel">
                <p>
                    «Спасибо, что выбрали "МойУчётФинансов"! Мы рады помочь вам взять финансы под контроль.
                    Теперь вы можете создавать первые категории расходов и планировать бюджет. Добро пожаловать
                    в сообщество осознанного потребления!»
                </p>
            </div>
        </div>
             <button onclick="window.location.href='{% url 'main' %}'">На главную страницу</button>
        </div>
</body>
</html>